




.primary-btn:hover,
.primary-btn:focus,
.filter-link:hover,
.filter-imglink:hover,
.filter-link:focus,
.filter-imglink:focus,
.copy-right a:hover,
.copy-right a:focus {
	color: #339999;
}

.send-msg-btn:hover,
.send-msg-btn:focus,
.social-media a:hover,
.social-media a:focus {
	border: 1px solid #339999;
	color: #339999;
}




.resume-btn:hover,
.resume-btn:focus,
.header-dot,
.filter-item-content,
.contact-top-single .icon,
#featured-slider,
#header.fixed-nav {
	background-color: #339999;
}

.contact-form .form-control:focus {
	border: 1px solid #339999;    
} 

.resume-btn
{
	border: 2px solid #339999;
	color: #339999;
}


